<div class="footer-container">

    <div class="footer-row" id="footer-top">
        <div class="footer-col">
            <h4>Hosting & Server</h4>
            <ul>
                <li><a href="#">Canadian Web Hosting</a></li>
                <li><a href="#">Canadian Cloud Servers</a></li>
                <li><a href="#">Dedicated Server</a></li>
                <li><a href="#">Managed WordPress</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Domains & Websites</h4>
            <ul>
                <li><a href="#">Domain Name Search</a></li>
                <li><a href="#">Domain Name Transfer</a></li>
                <li><a href="#">Weebly Site Builder</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Security & SSL</h4>
            <ul>
                <li><a href="#">SSL Certificates</a></li>
                <li><a href="#">SiteSafe Protection</a></li>
                <li><a href="#">Enterprise Anti-Spam</a></li>
                <li><a href="#">Domain Privacy</a></li>
                <li><a href="#">Protection</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">Blog & News</a></li>
                <li><a href="#">About WHC</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Check System Status</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
    </div>

    <!-- social-links -->
    <div class="footer-row" id="footer-bottom">
        <p>Follow Us</p>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>


    </div>

</div>