<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link href="second.css" rel="stylesheet">

<div class="container">
    <div class="error-page">
        <a href="#">
            <img src="/img/logo.png" alt="logo" width="140" height="140" class="d-inline-block align-text-center">
        </a>
        <h1 class="header-dashboard">Welcome to AlbaPlace!</h1>
        <p class="text">You are now joined in AlbalPalce</p>
        
        <a href="#"><button type="button" class="btn btn-outline-primary">Home</button></a>
    </div>
</div>