
<link href="style.css" rel="stylesheet">

<section>
<!-- Hero-section -->
<div class="hero-section">
  <div class="card bg-dark text-white">
    <img src="img/background-image.jpg" class="card-img" alt="hero-img">
    <div class="card-img-overlay">
      <h1 class="card-title">The Best Web Hosting</h1>
      <p class="card-text">
        Domain Name for 1st Year <br>
        FREE SSL Certificate Included <br>
        1-Click WordPress Install <br>
        24/7 Support
      </p>
      <h3 class="card-text">
        Starting at $8.99 <br>
        $2.95/month*
      </h3>
      <button type="button" style="width: 200px" class="btn btn-outline-primary">Get Started Now</button>
    </div>
  </div>
</div>


<!-- Content-section -->
<div class="content-section">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="content-col">
      <div class="card h-100">
        <img src="img/server.png" style="height: 150px;" class="card-img-top" alt="server-image">
        <div class="card-body">
          <h5 class="card-title">Web Hosting</h5>
          <p class="card-text">Get fast and unlimited web hosting for your site</p>
          <button type="button" class="btn btn-outline-primary">Get Hosting</button>
        </div>
      </div>
    </div>
    <div class="content-col">
      <div class="card h-100">
        <img src="img/cloud.png" style="height: 150px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cloud Servers</h5>
          <p class="card-text">Take full control with our fastest virtual servers</p>
          <button type="button" class="btn btn-outline-primary">Compare Clouds</button>
        </div>
      </div>
    </div>
    <div class="content-col">
      <div class="card h-100">
        <img src="img/dedicate.png" style="height: 150px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dedicated Servers</h5>
          <p class="card-text">Boosts your business with dedicated hardware</p>
          <button type="button" class="btn btn-outline-primary">View Servers</button>
        </div>
      </div>
    </div>
    <div class="content-col">
      <div class="card h-100">
        <img src="img/wordpress.png" style="height: 150px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">WordPress</h5>
          <p class="card-text">Manage your WordPress websites easily</p>
          <button type="button" class="btn btn-outline-primary">Get WordPress</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- footer -->
<footer class="footer">
<div class="footer-container">

  <div class="footer-row" id="footer-top">
    <div class="footer-col">
      <h4>Hosting & Server</h4>
      <ul>
        <li><a href="#">Canadian Web Hosting</a></li>
        <li><a href="#">Canadian Cloud Servers</a></li>
        <li><a href="#">Dedicated Server</a></li>
        <li><a href="#">Managed WordPress</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Domains & Websites</h4>
      <ul>
        <li><a href="#">Domain Name Search</a></li>
        <li><a href="#">Domain Name Transfer</a></li>
        <li><a href="#">Weebly Site Builder</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Security & SSL</h4>
      <ul>
        <li><a href="#">SSL Certificates</a></li>
        <li><a href="#">SiteSafe Protection</a></li>
        <li><a href="#">Enterprise Anti-Spam</a></li>
        <li><a href="#">Domain Privacy</a></li>
        <li><a href="#">Protection</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="#">Blog & News</a></li>
        <li><a href="#">About WHC</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Check System Status</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
  </div>

  <!-- social-links -->
  <div class="footer-row" id="footer-bottom">
    <p>Follow us</p>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>


  </div>

</div>
</footer>

