
<link href="second.css" rel="stylesheet">
<div class="container">
    <div class="error-page">
        <h1 class="header404">404</h1>
        <h3 class="header">oops! Page not found</h1>
        <p class="text">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
        <!-- TODO -->
        <a href="#"><button type="button" class="btn btn-outline-primary">Home</button></a>
    </div>
</div>